<center style="margin:20px 0;"><i># Скрипты внутренний - скрипт 1, внешний - скрипт 2 (есть src). </i>(ajax):</center>

<center id="script_1" style="margin:20px 0;">если вы это видите значит скрипт не работает!</center>
<script>document.getElementById('script_1').innerHTML = 'скрипт 1 подгружен'</script>
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acf62ff10c3a3bfa99e60801b25cb1b672af8f94fbdf50b8a7919031f71cf0542&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
<center>скрипт 2 подгружен:</center>
<center style="margin-bottom:20px;"><i>(внешние скрипты подгружаются после данных шаблона. это последняя строка)</i></center>